.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 500px;
}

.edit{
	color: #FFC107;
	background-color:transparent;
	border:none;
}

.delete{
	color: #E34724;
	background-color:transparent;
	border:none;
}

.active-row{
	background-color:#f9ebd7;
}

.tblAttendance th{
	padding:0.1em;
}

.tblAttendance{
	font-size:12px;
}